*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(130deg, #f05a24 5%, #3a3d8d 70%);
    height: 100vh;
}
.container{
    /* border: 2px solid rgb(222, 164, 164); */
    width: 84vw;
    height: 72vh;
    margin: auto;
    padding: 2%;
    position: relative;
    top: 12%;
    background: linear-gradient(to right, rgb(138, 35, 135), rgb(233, 64, 87), rgb(242, 113, 33));
    box-shadow: 0px 0px 10px black;
    color: aliceblue;
}
.para{
    width: 40%;
    margin-top: 3%;
    font-size:21px;
}
img{
    /* border:2px solid gray; */
    position: absolute;
    top: 10%;
    right: 40px;
    width: 400px;
    height: 300px;
    transform: scaleX(-1);
    transition: transform 0.5s ease-in-out;
}

img:hover{
    width: 500px;
    height: 350px;
    /* z-index: 1; */
    transform: scale(1);
}