*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url('https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    height: 100vh;
}
.navbar{
    display:flex;
    /* background-color: lightgreen; */
    height: 80px;
}
.logo-img{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    margin-top: 20px;
    margin-left: 80px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
    width: 50%;
}


.buttons li{
    display: inline;
    margin: 12px;
}
.buttons li button{
    background-color:#D60000;
    border-style: none;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    padding: 9px 16px;
    cursor: pointer;
}
.buttons li button:hover{
    background-color: #860000;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}
main h1{
    font-size: 55px;
}

main p{
    font-size: 28px;
    font-weight: 400;
    margin:13px;
}